@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Devops Training .... 10000 </p>


this message will appear to confirm that the old image removed Sucessfully 


this is test for Devops Training 
